.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.row {
  display: flex;
  padding: 1em 0;
}

.row > div {
  width: 100%;
}

.input {
  flex: 1;
  display: flex;
  padding: 0 0.3em;
}

.input > div {
  flex: 1;
}

.form > .row:last-child > .input:first-child {
  flex: 0.2;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}
