const appEnv = process.env.REACT_APP_ENV;

function appBaseUrl() {
  switch (appEnv) {
    case 'production':
      return 'https://api-ugma-today.herokuapp.com/api';

    default:
      return 'http://localhost/ugma-today/api/public/api';
  }
}

export default appBaseUrl;
